@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.check {
  background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  position: relative;
}

.check::after {
  content: '';
  position: absolute;
  background-image: url(assets/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: .8rem;
  height: .8rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.fot {
  height: calc(100vh - 11rem);
}